@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */


html {
  scroll-behavior: smooth;
}


body { 
  font-family: 'Montserrat', sans-serif;
}

.text-shadow-primary { 
  text-shadow: 0.15rem 0.15rem 0.5rem #135E7C;
}

.bg-1 { 
  background: #e7d387;
  background: linear-gradient(100deg, #e5d491 5%, #d1bf79 50%, #e0ca74 100%);
}

.bg-blue-p { 

position: absolute;
top: -3.1093rem;
left: -0.5691rem;
width: 17.8125rem;
height: 7.9375rem;
border-radius: 0 0 8rem;
background: #E4E9F9 0% 0% no-repeat padding-box;
}

.vh-90{
  height: 90vh;
}