@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */


html {
  scroll-behavior: smooth;
}


body { 
  font-family: 'Montserrat', sans-serif;
}

.text-shadow-primary { 
  text-shadow: 0.15rem 0.15rem 0.5rem #135E7C;
}

.bg-1 { 
  background: #CCBB55;
  background: linear-gradient(100deg, #E0CA7E 5%, #CCBB55 50%, #CCBB55 100%);
}

.bg-blue-p { 

position: absolute;
top: -3.1093rem;
left: -0.5691rem;
width: 17.8125rem;
height: 7.9375rem;
border-radius: 0 0 8rem;
background: #E4E9F9 0% 0% no-repeat padding-box;
}

.vh-90{
  height: 90vh;
}



@media only screen and (min-width: 640px) {
  .bg-size-400{
    background-size: 90vw;
    height: 145vh;
  }
  .mt-sm{
    margin-top: 12rem;
  }
}

@media only screen and (min-device-width: 900px) {

  .bg-size-400{
    background-size: 90vw;
    height: 150vh;
  }
  
  .mt-sm{
    margin-top: 0;
  }
}

@media only screen and (min-device-width: 380px) and (max-device-width: 620px) {
  .bg-size-400{
    background-size: 90vw !important;
    height: 115vh !important;
  }
  .mt-sm{
    margin-top: 28rem;
  }
  .cod-text{
    font-size: 30px !important;
    line-height: 36px !important;
  }

  .lg-text{
    font-size: 36px !important;
    line-height: 44px !important;
  
  }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 380px) {

    .bg-size-400{
      background-size: 90vw !important;
      height: 115vh !important;
    }

    .mt-sm{
      margin-top: 16rem;
    }
    }


@media (min-width: 1580px) {

.pt-cod{
padding-top: 4rem !important;
}

}

@media (min-width: 1780px) {

  .pt-cod{
  padding-top: 8rem !important;
  }
  
  }

  
@media (min-width: 1600px) {
.bg-pos{
  background-position: 0% 20% !important;
}
}

@media (max-width: 1024px) {
  .bg-pos{
    background-position: 0% 10% !important;
  }
  }
  

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
